:root {
  --bs-primary: #7749f8;
  --bs-primary-rgb: 119, 73, 248;
  --bs-body-font-family:
    "Josefin Sans",
    sans-serif;
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.nav-link,
.nav-link:hover {
  color: white;
}

.navbar {
  padding-left: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
label,
textarea {
  font-family: "Josefin Sans", sans-serif;
}

.background-container {
  background-image: url("images/splash.webp");
  background-position: 85% 76%;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.background-container h1 {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding-top: 5rem;
}

.background-container .radial-gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(#0000, rgba(0, 0, 0, 0.5));
  background-clip: content-box;
}

.background-container .buttons {
  width: 7rem;
}
