h1,
h2,
h3,
p,
a,
h4,
textarea,
.btn {
  font-family: "Josefin Sans", sans-serif;
}

img {
  width: 100%;
}

.background-container {
  background-image: url("images/splash.webp");
  background-position: 85% 76%;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.background-container .radial-gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(#0000, rgba(0, 0, 0, 0.5));
  background-clip: content-box;
}

.background-container .buttons {
  width: 7rem;
}

.saved-runs img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.carousel-item img {
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.navbar .nav-link,
.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: white;
}

.stopwatch {
  width: 300px;
  height: 300px;
}

.map {
  width: 100%;
  height: 400px;
}

.stats h1 {
  font-size: 2rem;
}

.stats h4 {
  color: #007bff;
  font-size: 0.75rem;
}

.stats .image {
  width: 45%;
}

.new-post button {
  border: none;
}

.new-post .swap {
  padding-top: 4px;
  padding-bottom: 2px;
}

.new-post button.left {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.new-post button.right {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.new-post .swap-container {
  top: 6px;
  right: 6px;
  opacity: 0.7;
  z-index: 5;
}

.new-post .choose-container {
  top: 7px;
  left: 7px;
  opacity: 0.7;
  z-index: 5;
}

.new-post .choose-container button {
  border-radius: 50%;
}

.new-post .carousel-modal {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
}

.new-post .times {
  background-color: white;
  border: none;
  padding: 0.15rem;
  margin-bottom: 0;
}

.desktop-image {
  display: none;
}

.left-nav {
  margin-left: auto !important;
  padding: 0 2rem;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 768px) {
  .stats .images {
    display: none !important;
  }

  .desktop-image {
    display: block;
  }

  .stats .buttons {
    margin-top: -1rem !important;
  }

  .desktop-images {
    margin-top: 0.5rem !important;
    padding: 1rem !important;
  }

  .stats .desktop-image,
  .stats .map-image {
    width: 30% !important;
  }

  .stats .desktop-image img,
  .stats .map-image img {
    height: 200px;
    object-fit: cover;
  }

  .saved-runs .desktop-row {
    font-size: large;
    margin-top: 0.5rem !important;
  }

  .saved-runs .desktop-text-right {
    text-align: left !important;
  }

  .saved-runs .desktop-text-left {
    text-align: right !important;
  }

  .desktop-hidden {
    display: none;
  }

  .hidden {
    display: block;
  }
}
